<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IQsoft API Integration">
    <listeners>
<!--        <listener class-name="utilities.ReportingExtent"/>-->
        <listener class-name="utilities.ReportingAllure"/>
    </listeners>
    <test name="API Integration Automation Test">
        <classes>
            <class name="testCases.IqSoft_API_1_GetUrl_Negative_Test"/>
            <class name="testCases.IqSoft_API_1_GetUrl_Positive_Test"/>
            <class name="testCases.IqSoft_API_2_Authorization_Positive_Test"/>
            <class name="testCases.IqSoft_API_2_Authorization_Negative_Test"/>
            <class name="testCases.IqSoft_API_3_GetBalance_Positive_Test"/>
            <class name="testCases.IqSoft_API_3_GetBalance_Negative_Test"/>
            <class name="testCases.IqSoft_API_4_Credit_Positive_Test"/>
            <class name="testCases.IqSoft_API_4_Credit_Negative_Test"/>
            <class name="testCases.IqSoft_API_5_Debit_Positive_Test"/>
            <class name="testCases.IqSoft_API_5_Debit_Negative_Test"/>
        </classes>
    </test>
</suite>